# ====== App ======
APP_ENV=production
DEBUG=false

# ====== API externa ======
ELAB_URL=https://your-api.example.com/api/v2
API_KEY=your_api_key_here

# ====== Banco de Dados ======
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_local_password_here
DB_NAME=iesi_projeto
DB_SSLMODE=disable